name: Upload package to PyPI

on:
  push:
    branches:
      - main
    tags: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install build
        run: python3 -m pip install build --user
      - name: Build package
        run: python3 -m build
      - name: Store distribution packages
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ./dist
  publish-to-pypi:
    runs-on: ubuntu-latest
    needs:
      - build
    environment:
      name: pypi
      url: https://pypi.org/p/qc-parallelizer
    permissions:
      id-token: write
    steps:
      - name: Download dist
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: ./dist
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
